
{% extends 'base.html' %}

{% block content %}

<div class="top">
    <div>
        <h1>Trainees</h1>
        <p class="sub">Registration and verification management.</p>
    </div>

    <a class="btn" href="{% url 'trainee_create' %}">
        Add trainee
    </a>
</div>

<div class="table-wrap">
    <table>
        <thead>
            <tr>
                <th>Beneficiary ID</th>
                <th>Name</th>
                <th>District</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for trainee in trainees %}
            <tr>
                <td>{{ trainee.beneficiary_id }}</td>

                <td>
                    <strong>{{ trainee.name }}</strong>
                </td>

                <td>{{ trainee.district }}</td>

                <td>{{ trainee.phone }}</td>

                <td>
                    <span class="badge {{ trainee.status|lower }}">
                        {{ trainee.status }}
                    </span>
                </td>

    <td>
    {% if trainee.status == "Verified" %}
        <a href="{% url 'trainee_detail' trainee.id %}">
            View 360
        </a>
    {% else %}
        <a href="{% url 'trainee_detail' trainee.id %}">
            View Details
        </a>
    {% endif %}
</td>


     </tr>

            {% empty %}
            <tr>
                <td colspan="6" class="empty">
                    No trainees found.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

